pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Valuesofarray",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filtervalues",
								"value": {
									"value": "@activity('Filter1').output.Value",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Valuesofarray": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			}
		},
		"variables": {
			"filtervalues": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}